config ZMK_WATCHDOG_FEATURE
    bool "Enable firmware watchdog incident logging"

if ZMK_WATCHDOG_FEATURE

config ZMK_WATCHDOG_FEATURE_STUDIO_RPC
    bool "Expose watchdog incident log via custom Studio RPC"
    depends on ZMK_STUDIO

endif
